@{
    ViewData["Title"] = "Home Page";
}



<div class="container" style="margin-top:10%">
    <div class="row">
        <div class="col-md-4 col-md-4 "></div>
        <div class="col-md-4 col-md-4 alert alert-info">
            <h3 class="text-center">User Registation</h3>
          
            <div class="form-group">
                <a style="float:left"> </a>@Html.ActionLink("user registation", "AddUser")
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-4 "></div>
</div>
